.chat-area {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.chat-message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-author {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 4px;
}

.chat-bubble {
  background: #f1f1f1;
  padding: 10px 14px;
  border-radius: 12px;
  max-width: 70%;
}

/* LEFT speaker */
.chat-message.left {
  align-self: flex-start;
  text-align: left;
}

.chat-message.left .chat-bubble {
  margin-right: auto;
  background: #f1f1f1;
  border-radius: 12px 12px 12px 4px;
  border: 1px solid #000000;
}

/* RIGHT speaker */
.chat-message.right {
  align-self: flex-end;
  text-align: right;
}

.chat-message.right .chat-bubble {
  margin-left: auto;
  background: #f1f1f1;
  border-radius: 12px 12px 4px 12px;
  border: 1px solid #000000;
}

.chat-container {
  background: #d5dcd3;
  border-radius: 12px;
  height: 86%;
  border: 1px solid #000000;
}
