.sidebar {
  width: 260px;
  height: calc(100vh - 32px); /* full height minus top/bottom margin */
  background: #e0e0e0;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin: 16px;        /* distance from edges of screen */
  border-radius: 12px; /* optional, looks nice with margin */
  box-sizing: border-box;
  padding: 16px;       /* internal padding for content */
  flex-shrink: 0;
  border: 1px solid #000000; /* this adds a stroke around each room */
}

.sidebar-rooms {
  flex: 1;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sidebar-title {
  font-size: 30px;
  font-weight: 600;
}

.sidebar-logo {
    font-size: 32px;
    color: #000000;
}

/* Footer Styling */
.sidebar-footer {
  margin-top: auto; /* pushes footer to the bottom */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-footer button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border: 1px solid #000000;
  border-radius: 24px;
  background: #e3e3e3;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
  outline: none;
}

.sidebar-footer button:hover {
  background: #74937a; 
  border-color: #000000;
}

.button-icon {
  font-size: 16px;
  display: inline-flex;
}

.sidebar-footer button.active {
  background: #2e5733;
  border-color: #000000;
  color: #ffffff;
}

/* Header styling */
.sidebar-header-button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border: 1px solid #000000;
  border-radius: 8px;
  background: #e3e3e3;
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
  text-align: left;

  margin-bottom: 6px;
}

.sidebar-header-button:hover {
  background: #74937a;
  border-color: #000000;
}

.sidebar-header-button.active {
  background: #2e5733;
  border-color: #000000;
  color: #ffffff;
}

.sidebar-header-button .sidebar-logo {
  font-size: 32px;
  color: inherit;
}

.sidebar-header-button:focus {
  outline: none;
}